.cdx-list {
    margin: 0;
    padding-left: 40px;
    min-height: 1.45em;
    outline: none;
    counter-reset: index;

    &__item {
        padding: 5.5px 0;
        margin: 0;
        border: 0 solid transparent;
        min-height: 1.45em;
        width: auto;
        box-sizing: content-box;
        box-shadow: none;
        list-style: none;
        counter-increment: index;
    }

    &--unordered {
        ^&__item {
            &::before {
                position: absolute;
                margin-left: -21px;
                margin-top: 9px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #7b7e89;
                content: '';
            }
        }
    }

    &--ordered {
        ^&__item {
            &::before {
                position: absolute;
                margin-left: -23px;
                margin-top: 1px;
                font-size: 13px;
                font-weight: 500;
                color: #7b7e89;
                content: counter(index);
            }
        }
    }

    &-settings {
        display: flex;

        .cdx-settings-button {
            width: 50%;
        }
    }
}
