.cdx-list {
    margin: 0;
    padding-left: 40px;
    outline: none;

    &__item {
        padding: 5.5px 0;
        box-sizing: content-box;
        border: 0 solid transparent;
        box-shadow: none;
    }

    &--unordered {
        list-style: disc;
    }

    &--ordered {
        list-style: decimal;

        ^&__item {
            margin-left: -3px;
            padding-left: 3px;
        }
    }

    &-settings {
        display: flex;

        .cdx-settings-button {
            width: 50%;
        }
    }
}
