.cdx-list {
    margin: 0;
    padding-left: 19px;
    min-height: 1.45em;
    outline: none;
    counter-reset: index;

    &__item {
        display: flex;
        align-items: flex-start;
        padding: 5.5px 0;
        margin: 0;
        border: 0 solid transparent;
        min-height: 1.45em;
        width: auto;
        box-sizing: content-box;
        box-shadow: none;
        list-style: none;
        counter-increment: index;
    }

    &--unordered {
        ^&__item {
            &::before {
                width: 5px;
                height: 5px;
                margin: 8px 16px 0 0;
                border-radius: 50%;
                flex-shrink: 0;
                background: #7b7e89;
                content: '';
            }
        }
    }

    &--ordered {
        ^&__item {
            &::before {
                margin: 0 0 0 -1px;
                padding-right: 7px;
                width: 15px;
                flex-shrink: 0;
                font-size: 13px;
                font-weight: 500;
                color: #7b7e89;
                content: counter(index);
            }
        }
    }

    &-settings {
        display: flex;

        .cdx-settings-button {
            width: 50%;
        }
    }
}
